#header {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.card-header {
    background-color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    text-align: center;
}

#submit-info {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.card {
    border: 1px solid black;
}

#add-train-div{
    margin-bottom: 30px;
    background-image: url(images/crumpled-paper.jpeg);
}

#train-schedule-div {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-image: url(images/crumpled-paper.jpeg);
}

.button-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

body {
    background-image: url("images/rain-drops.jpeg");
}

h1 {
    font-weight: bold;
}

.btn-light {
    background-color: #9cd3c1;
}

td {
    font-weight: bold;
}

label {
    font-weight: bold;
}