#header {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.card-header {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    text-align: center;
}

#submit-info {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.card {
    border: 1px solid black;
}

#add-train-div{
    margin-bottom: 30px;
}

#train-schedule-div {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

body {
    background-image: url("landscape-of-rice-farm-in-thailand-crane-shot_v1jplnz4g__F0002.png");
}